flows (1).json
[{"id":"72f79953.1f3b28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9f00daa0.891988","type":"function","z":"72f79953.1f3b28","name":"PreToken","func":"global.set(\"pn1\",msg.payload.pn1)\nglobal.set(\"pn2\",msg.payload.pn2)\nglobal.set(\"pn3\",msg.payload.pn3)\nglobal.set(\"yr\",msg.payload.yr)\nglobal.set(\"pp\",msg.payload.pp)\n\nvar apikey=\"imDiU45Xp-l2vhf6GiDSH1muSu8DMAu5xZttJ11blwpQ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":316.0000047683716,"wires":[["aba585cf.075db8"]]},{"id":"aba585cf.075db8","type":"http request","z":"72f79953.1f3b28","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":454,"y":305,"wires":[["3d33c8f8.d03128"]]},{"id":"b643a1f6.26f8","type":"inject","z":"72f79953.1f3b28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.5,"y":230.00000286102295,"wires":[["9f00daa0.891988"]]},{"id":"f776fbd5.2a2b68","type":"debug","z":"72f79953.1f3b28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":893.0000114440918,"y":47.00000190734863,"wires":[]},{"id":"3d33c8f8.d03128","type":"function","z":"72f79953.1f3b28","name":"Pre Prediction","func":"var pn1 = global.get('pn1')\nvar pn2 = global.get('pn2')\nvar pn3 = global.get('pn3')\nvar yr = global.get('yr')\nvar pp = global.get('pp')\nvar token=msg.payload.access_token\nvar instance_id=\"65702f5f-b985-4644-ade8-0600a9eaff56\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"pn1\",\"pn2\",\"pn3\",\"yr\",\"pp\"], \"values\": [[pn1,pn2,pn3,yr,pp]]}\nreturn msg;","outputs":1,"noerr":0,"x":651.0000076293945,"y":268.00000381469727,"wires":[["fb6b0c62.6149b"]]},{"id":"fb6b0c62.6149b","type":"http request","z":"72f79953.1f3b28","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/65702f5f-b985-4644-ade8-0600a9eaff56/deployments/ea7979a2-099c-4f51-be2f-f40e40ec9ec5/online","tls":"","persist":false,"proxy":"","authType":"","x":744.5000076293945,"y":212.00000381469727,"wires":[["3d66a2d2.08001e"]]},{"id":"d1888c2f.ceceb","type":"ui_form","z":"72f79953.1f3b28","name":"","label":"","group":"bc4cf55.3a1f408","order":0,"width":0,"height":0,"options":[{"label":"Pool Name","value":"pn1","type":"number","required":true},{"label":"Pool name","value":"pn2","type":"number","required":true},{"label":"pool name","value":"pn3","type":"number","required":true},{"label":"Year","value":"yr","type":"number","required":true},{"label":"population","value":"pp","type":"number","required":true}],"formValue":{"pn1":"","pn2":"","pn3":"","yr":"","pp":""},"payload":"","submit":"predict","cancel":"cancel","topic":"","x":46,"y":359,"wires":[["9f00daa0.891988"]]},{"id":"844cb75d.d9f7e8","type":"ui_text","z":"72f79953.1f3b28","group":"bc4cf55.3a1f408","order":1,"width":0,"height":0,"name":"","label":"Crime Rate","format":"{{msg.payload}}","layout":"row-spread","x":792.6000366210938,"y":364.20001220703125,"wires":[]},{"id":"3d66a2d2.08001e","type":"function","z":"72f79953.1f3b28","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":604.6000366210938,"y":107.60000610351562,"wires":[["f776fbd5.2a2b68","844cb75d.d9f7e8"]]},{"id":"bc4cf55.3a1f408","type":"ui_group","z":"","name":"Default","tab":"c4d07f7c.015b4","disp":true,"width":"6","collapse":false},{"id":"c4d07f7c.015b4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]